* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

header {
    width: 100%;
    height: 90vh;
    max-height: 800px;
    background-image: url("images/capa.png");
    background-position: center;
    background-size: cover;
    display: inline-block;
}

header nav {
    max-width: 1280px;
    height: auto;
    margin: 35px auto;
}

header nav input {
    display: none;
}

header nav label {
    display: none;
}

header nav img {
    height: 20px;
    margin-left: 3%;
}

header nav ul {
    float: right;
}

header nav ul li{
    display: inline-block;
    margin-right: 35px;
}

header nav ul li a{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

.frame {
    max-width: 1280px;
    margin: 0px auto;
}

.header-text {
    max-width: 600px;
    color: white;
    font-weight: 300;
    float: right;
    margin: 180px 180px;
}

.header-text h1 {
    font-size: 36px;
    font-weight: inherit;
    margin-bottom: 10px;
    text-align: inherit;
}

.header-text p {
    font-size: 15px;
    text-align: inherit;
}

@media (max-width: 750px) {

    header {
        height: auto;
        max-height: none;
        min-height: 800px;
    }

    header nav ul {
        margin-top: 10px;
        float: none;
        position: relative;
        right: 100%;
        transition: all .4s;
    }

    header nav label {
        display: initial;
        float: right;
        margin-right: 3%;
        cursor: pointer;
    }

    header nav input:checked ~ ul{
        right: 0;
    }

    header nav ul li {
        background-color: white;
        color: black;
        display: block;
        height: 40px;
        font-size: 18px;
        margin-right: 0;
    }

    header nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 400;
        border-top: 1px solid  black;
    }

    header nav ul li:nth-of-type(1) a {
        border-top: 0px;
    }

    header nav ul li:hover a {
        background-color: rgb(220, 220, 220);
    }

    header .frame {
        display: flex;
        justify-content: center;
    }

    .header-text {
        margin: 20px 70px 0 70px;
        text-align: center;
        float: none;
    }

}