* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/* Padrões da arquitetura do site */

button {
    padding: 14px 25px;
    background-color: #FF703D;
    border: 0;
    color: white;
    border-radius: 20px;
    margin-top: 12px;
}

.w100 {
    width: 100%;
}

/* Header */

header {
    width: 100%;
    height: 90vh;
    min-height: 800px;
    background-image: url("images/capa.png");
    background-position: center;
    background-size: cover;
    display: inline-block;
}

header nav {
    max-width: 1280px;
    height: auto;
    margin: 35px auto;
}

header nav input {
    display: none;
}

header nav label {
    display: none;
}

header nav img {
    height: 20px;
    margin-left: 3%;
}

header nav ul {
    float: right;
}

header nav ul li{
    display: inline-block;
    margin-right: 35px;
}

header nav ul li a{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

header .frame {
    max-width: 1280px;
    margin: 0px auto;
}

.header-text {
    max-width: 600px;
    color: white;
    font-weight: 300;
    float: right;
    margin: 220px 180px;
}

.header-text h1 {
    font-size: 36px;
    font-weight: inherit;
    margin-bottom: 10px;
    text-align: inherit;
}

.header-text p {
    font-size: 15px;
    text-align: inherit;
}

/* Service Info Section */

.service-info {
    color: white;
    width: 100%;
    background-color: #472562;
    display: flex;
    justify-content: center;
}

.service-info .service-list {
    margin: 100px;
    margin-left: 50px;
}

.service-info h2 {
    margin-bottom: 20px;
    font-weight: 300;
}

.service-info ul {
    margin-top: 8px;
    list-style-position: inside;
}

.service-info li {
    margin-bottom: 8px;
}

.service-info img {
    margin-top: -35px;
    height: 500px;
}

/* Mockup Container Section */

.mockup-container {
    width: 100%;
}

.mockup-container .frame {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
    padding-top: 30px;
}

.mockup-container h2 {
    font-weight: 300;
    color: #472663;
}

.mockup-container p {
    width: 925px;
    margin: 28px auto 0 auto;
}

.mockup-container img {
    width: 100%;
    position: relative;
    top: 50px;
}

/* Team Info */

.team-info {
    display: flex;
}

.team-info p {
    font-size: 15px;
}

.team-info > div {
    width: 50%;
}

.team-info .purple {
    background-color: #835FA7;
    color: white;
}

.team-info .text-box {
    float: right;
    max-width: 500px;
    margin: 100px 25px;
}

.team-info .text-box h2 {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
}

.team-info .text-box p {
    line-height: 35px;
}

.team-info .ceo-info {
    max-width: 600px;
    margin: 100px 25px;
}

.team-info .ceo-info .author-info {
    margin-bottom: 10px;
}

.team-info .ceo-info h2 {
    font-weight: 400;
    font-size: 22px;
}

.team-info .ceo-info span {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}

.team-info .ceo-info .author-info div {
    display: inline-block;
    margin-right: 15px;
}

.team-info .ceo-info img {
    width: 40px;
}

.team-info .ceo-info div.selector {
    height: 20px;
    width: 20px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.team-info #selected {
    background-color: rgb(150, 150, 150);
}

/* Contact and Google Maps Container */

.contact-container {
    display: flex;
    background-color: #472563;
}

.contact-container > div {
    width: 50%;
}

.contact-container .form-box {
    display: flex;
    justify-content: flex-end;
}

.contact-container form {
    color: white;
    font-weight: 300;
    margin: 75px 75px;
    margin-left: 25px;
    display: block;
    max-width: 500px;
    flex-grow: 1;
}

.contact-container form input {
    margin-bottom: 15px;
    height: 60px;
    padding-left: 10px;
    border: 1px solid rgb(150, 150, 150);
}

.contact-container form textarea {
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
}

.contact-container form h2 {
    font-weight: inherit;
    margin-bottom: 10px;
}

.contact-container form p {
    font-size: 15px;
    margin-bottom: 25px;
}

.contact-container form button {
    width: 150px;
}

.contact-container .map-box > div {
    max-width: 500px;
    margin: 75px 0;
    margin-left: 0;
}

.contact-container .map-box > div h2 {
    font-weight: 300;
    color: white;
}

.contact-container .map-box > div .map {
    height: 500px;
    background-color: gray;
    margin-top: 20px;
}

/* Footer */

footer {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

/* Media Queries */

@media (max-width: 1100px) {
    .mockup-container .frame {
        width: 100%;
    }

    .mockup-container p {
        width: 84.1%;
    }

    .contact-container .map-box > div .map {
        width: 45.45vw;
        height: 45.45vw;
    }
}

@media (max-width: 1000px) {
    .service-info img {
        display: none;
    }

    .service-info .service-list {
        margin: 100px 0;
        text-align: center;
    }

    .service-info .service-list div {
        width: 130px;
        text-align: left;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {

    header {
        height: auto;
        max-height: none;
        min-height: 800px;
    }

    header nav ul {
        margin-top: 10px;
        float: none;
        position: relative;
        right: 100%;
        transition: all .4s;
    }

    header nav label {
        display: initial;
        float: right;
        margin-right: 3%;
        cursor: pointer;
    }

    header nav input:checked ~ ul{
        right: 0;
    }

    header nav ul li {
        background-color: white;
        color: black;
        display: block;
        height: 40px;
        font-size: 18px;
        margin-right: 0;
    }

    header nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 400;
        border-top: 1px solid  black;
    }

    header nav ul li:nth-of-type(1) a {
        border-top: 0px;
    }

    header nav ul li:hover a {
        background-color: rgb(220, 220, 220);
    }

    header .frame {
        display: flex;
        justify-content: center;
    }

    .header-text {
        margin: 20px 60px 0 60px;
        text-align: center;
        float: none;
    }

}

@media (max-width: 625px) {
    .team-info {
        flex-direction: column;
    }

    .team-info > div{
        width: 100%;
    }

    .team-info .text-box, .team-info .ceo-info {
        margin: 35px;
        float: none;
    }

    .mockup-container img {
        top: 25px;
    }

    footer {
        height: 200px;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media (max-width: 850px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-container .form-box {
        justify-content: center;
    }

    .contact-container > div {
        width: 100%;
    }

    .contact-container form {
        text-align: center;
        margin: 50px 0;
        max-width: 90%;
    }

    .contact-container .map-box {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contact-container .map-box > div {
        max-width: none;
        width: 80vw;
        margin: 50px 0;
    }

    .contact-container .map-box > div .map {
        width: 80vw;
        height: 80vw;
    }
}